// alignment per row
// 设置所有 flex item 元素的对齐方式
.grid--top
  align-items: flex-start

.grid--center
  align-items: center

.grid--bottom
  align-items: flex-end

// alignment per cell
// 设置某个元素的对齐方式（仅对单个 flex item 元素有效）
.grid-cell--top
  align-self: flex-start

.grid-cell--bottom
  align-self: flex-end

.grid-cell--center
  align-self: center
