// grid 布局中自定义宽度的实现原理，以 flex-basis 在未指定 flex-grow 的情况下来定义宽度

// responsive modifiers
.grid--fit > .grid-cell
  flex: 1 // 即 flex: 1 0 auto

.grid--full > .grid-cell
  flex-grow: 0
  flex-basis: 100%
  max-width: 100%

.grid--2 > .grid-cell
  flex-grow: 0
  flex-basis: 50%
  max-width: 50%

.grid--3 > .grid-cell
  flex-grow: 0
  flex-basis: 33.3333%
  max-width: 33.3333%

.grid--4 > .grid-cell
  flex-grow: 0
  flex-basis: 25%
  max-width: 25%

// small to medium screens
@media (min-width: 24em)
  .small-grid--fit > .grid-cell
  flex: 1

  .samll-grid--full > .grid-cell
    flex-grow: 0
    flex-basis: 100%
    max-width: 100% // 防止子元素内容撑开容器

  .small-grid--2 > .grid-cell
    flex-grow: 0
    flex-basis: 50%
    max-width: 50%

  .small-grid--3 > .grid-cell
    flex-grow: 0
    flex-basis: 33.3333%
    max-width: 33.3333%

  .samll-grid--4 > .grid-cell
    flex-grow: 0
    flex-basis: 25%
    max-width: 25%

// large screens
@media (min-width: 48em)
  .large-grid--fit > .grid-cell
  flex: 1

  .large-grid--full > .grid-cell
    flex-grow: 0
    flex-basis: 100%
    max-width: 100%

  .large-grid--2 > .grid-cell
    flex-grow: 0
    flex-basis: 50%
    max-width: 50%

  .large-grid--3 > .grid-cell
    flex-grow: 0
    flex-basis: 33.3333%
    max-width: 33.3333%

  .large-grid--4 > .grid-cell
    flex-grow: 0
    flex-basis: 25%
    max-width: 25%

// inspired by vuetify.js
