html, body
  margin: 0
  min-height: 100%

@media (max-width: 576px)
  html
    font-size: 14px

*, *:before, *:after
  box-sizing: border-box // 影响 自定义宽度章节 时的 1/2 宽度
  margin: 0

.main-title
  text-align: center

.title
  // margin-top 会撑开 body，将 body 与 html 形成空隙
  padding: 1rem 0

.section
  padding: 20px
  margin-bottom: 30px
  border-radius: 5px
  box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .2), 0 2px 8px 4px rgba(60, 64, 67, .1)

.tips
  display: block
  padding-bottom: 10px
  font-size: .9rem
  color: rgba(0, 0, 0, .5)

.methods
  margin: 0 auto
  max-width: 980px
  padding: 0 10px

.methods:nth-child(0n+1)
  margin-bottom: 100px !important

.bg
  padding: 10px 0
  border-radius: 5px
  color: white
  text-align: center
  background-color: #00a0e9

  &.light
    background-color: rgba(0,160,233,.7)

  &.deep
    background-color: #01579b

.mb--10
  margin-bottom: 10px

.hight-1
  height: 150px

  &.lh-normal
    line-height: 130px // 100px - contanier padding

// grid 布局中自定义宽度的实现原理，以 flex-basis 在未指定 flex-grow 的情况下来定义宽度
.user-1of2
  flex-grow: 0
  flex-basis: 50%
  max-width: 50% // ! 防止内容撑开容器，必须设置
  // equal to width: 50%, flex: none

.user-1of3
  flex-grow: 0
  flex-basis: 33.3333%
  max-width: 33.3333%
