@charset "UTF-8";
/*
  备选实现：float: left
  1. 使用 float: left 实现 grid 布局时，需在子元素 ::before :: after 设置 {
     display: table;  content: '' }  来消除子元素与父容器元素之间的空白
  2. disply: flex 与 float: left 冲突（高优先级为 flex），那么同时设置时，在不支持
     display: flex 的浏览器上只会有 float: left 生效（即备选方案生效）
 */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.grid[grid-gutters="1"] > .grid-cell {
  padding: 0 0.5em; }

.grid--fit > .grid-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*
    默认值
    flex-grow: 0
    flex-shrink: 1
    flex-basis: auto
    flex-basis 优先级高于 flex-grow，但尺寸不会小于 flex-grow (在非 0 的情况下)且不大于父容器
   */ }

.grid--full > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%; }

.grid--2 > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%; }

.grid--3 > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  max-width: 33.3333%; }

.grid--4 > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%; }

@media (min-width: 576px) {
  .small-grid--fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .small-grid--full > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .small-grid--2 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .small-grid--3 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    max-width: 33.3333%; }
  .small-grid--4 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 768px) {
  .large-grid--fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .large-grid--full > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .large-grid--2 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
  .large-grid--3 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    max-width: 33.3333%; }
  .large-grid--4 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%; } }

.grid--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.grid--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grid--bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.grid-cell--top {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.grid-cell--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.grid-cell--center {
  -ms-flex-item-align: center;
      align-self: center; }

html, body {
  margin: 0;
  height: 100%; }

@media (max-width: 576px) {
  html {
    font-size: 14px; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

.main-title {
  text-align: center; }

.title {
  padding: 1rem 0; }

.section {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2), 0 2px 8px 4px rgba(60, 64, 67, 0.1);
          box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2), 0 2px 8px 4px rgba(60, 64, 67, 0.1); }

.tips {
  display: block;
  padding-bottom: 10px;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.5); }

.layout, .alignment {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px; }

.alignment {
  margin-bottom: 100px; }

.bg {
  padding: 10px 0;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-color: #00a0e9; }
  .bg.light {
    background-color: rgba(0, 160, 233, 0.7); }
  .bg.deep {
    background-color: #01579b; }

.mb--10 {
  margin-bottom: 10px; }

.hight-1 {
  height: 150px; }
  .hight-1.lh-normal {
    line-height: 130px; }

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.user-1of2 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%; }

.user-1of3 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  max-width: 33.3333%; }

